@model Proyecto_Final_Web_II.Models.Control
@{
    ViewBag.Title = "agregareditar";
}

<center><h2 class="card text-center">Agregar Editar</h2></center>

<nav aria-label="breadcrumb">
    <ol class=" breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/control"> Servo</a>
        </li>
        <li class=" breadcrumb-item active">
            @(Model.control_id > 0 ? Model.servo_control : "Nuevo Registro")
        </li>
    </ol>
</nav>



@using (Html.BeginForm("guardar", "control", FormMethod.Post, new { id = "frm-control" }))
{
    @Html.HiddenFor(x => x.control_id)

    <div class="card">
        <div class="card-header">
            Informacion del Control
            <div class="card-body">
                <div class="form-group">
                    @Html.Label("Id")
                    @Html.TextBoxFor(x => x.control_id, new { @class = "form-control", disabled = true })
                </div>

                <div class="form-group">
                    @Html.Label("Reservorio")
                    @Html.TextBoxFor(x => x.reservorio_id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.reservorio_id, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Servo")
                    @Html.TextBoxFor(x => x.servo_id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.servo_id, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Usuario")
                    @Html.TextBoxFor(x => x.usuario_id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.usuario_id, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Servo")
                    @Html.TextBoxFor(x => x.servo_control, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.servo_control, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Fecha")
                    @Html.TextBoxFor(x => x.fecha_control, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.fecha_control, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Estado")
                    <select name="estado_control" class="form-control">
                        <option @(Model.estado_control == "" ? "Selected" : "") value="">-Seleccione-</option>
                        <option @(Model.estado_control == "A" ? "Selected" : "") value="A">Activo</option>
                        <option @(Model.estado_control == "I" ? "Selected" : "") value="I">Inactivo</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.estado_control, null, new { @class = "text-danger" })
                </div>

            </div>
        </div>
    </div>

    <div class="card text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/control" class="btn btn-danger">Cancelar</a>
    </div>
    <br /><br />
}

